body{
    font-family: 'Poppins', sans-serif;
    background:#f4f6f9;
    margin:0;
}

/* NAVBAR */
.navbar{
    background:#0f172a;
    color:white;
    padding:15px 0;
}
.nav-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-weight:700;
    font-size:20px;
}
.logo img{
    height:45px;
}
nav a{
    color:white;
    margin-left:20px;
    text-decoration:none;
    font-weight:500;
}
nav a:hover{
    color:#f97316;
}

/* PAGE */
.container{
    width:90%;
    max-width:1000px;
    margin:30px auto;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 4px 18px rgba(0,0,0,0.08);
}

h2{
    color:#0f172a;
    border-bottom:3px solid #f97316;
    padding-bottom:5px;
}

/* FORM */
.form-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}
.form-group{
    display:flex;
    flex-direction:column;
}
label{
    font-weight:600;
    margin-bottom:5px;
}
input,select,textarea{
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
}

.section{
    margin-top:30px;
}

button{
    margin-top:25px;
    padding:14px;
    background:#f97316;
    border:none;
    color:white;
    font-weight:700;
    border-radius:8px;
    cursor:pointer;
}
button:hover{
    background:#ea580c;
}

/* FLASH */
.flash{
    background:#dcfce7;
    padding:10px;
    border-radius:8px;
    margin-bottom:20px;
}

/* FOOTER */
.footer{
    text-align:center;
    padding:20px;
    background:#0f172a;
    color:white;
    margin-top:40px;
}
