{% extends "base.html" %}

{% block content %}

<div class="admin-content">

<h1>Add Merchandise</h1>

<div class="table-card">

<form method="POST">

<div class="form-grid">

<div class="form-group">
<label>Product Name</label>
<input name="name" required>
</div>

<div class="form-group">
<label>Variant</label>
<input name="variant">
</div>

<div class="form-group">
<label>Price</label>
<input name="price">
</div>

<div class="form-group">
<label>Stock</label>
<input name="stock">
</div>

</div>

<button class="btn-primary">
Add Product
</button>

</form>

</div>

</div>

{% endblock %}
