{% extends "base.html" %}
{% block content %}

<section class="page-header">
    <h1>Gallery</h1>
    <p>Moments of growth, discipline, competition, and community.</p>
</section>

<div class="section">

<!-- FILTER BUTTONS -->

<div class="gallery-filters">

<button onclick="filterGallery('all')" class="active">All</button> <button onclick="filterGallery('training')">Training</button> <button onclick="filterGallery('games')">Games</button> <button onclick="filterGallery('camps')">Camps</button> <button onclick="filterGallery('outreach')">Outreach</button>

</div>

<!-- GALLERY GRID -->

<div class="gallery-grid">

<img class="gallery-item training" src="/static/gallery/training1.jpg" onclick="openImage(this.src)">
<img class="gallery-item training" src="/static/gallery/training2.jpg" onclick="openImage(this.src)">
<img class="gallery-item training" src="/static/gallery/training3.jpg" onclick="openImage(this.src)">

<img class="gallery-item games" src="/static/gallery/game1.jpg" onclick="openImage(this.src)">
<img class="gallery-item games" src="/static/gallery/game2.jpg" onclick="openImage(this.src)">
<img class="gallery-item games" src="/static/gallery/game3.jpg" onclick="openImage(this.src)">

<img class="gallery-item camps" src="/static/gallery/camp1.jpg" onclick="openImage(this.src)">
<img class="gallery-item camps" src="/static/gallery/camp2.jpg" onclick="openImage(this.src)">
<img class="gallery-item camps" src="/static/gallery/camp3.jpg" onclick="openImage(this.src)">

<img class="gallery-item outreach" src="/static/gallery/outreach1.jpg" onclick="openImage(this.src)">
<img class="gallery-item outreach" src="/static/gallery/outreach2.jpg" onclick="openImage(this.src)">
<img class="gallery-item outreach" src="/static/gallery/outreach3.jpg" onclick="openImage(this.src)">

</div>

</div>

<!-- LIGHTBOX -->

<div id="lightbox" onclick="closeImage()">
<img id="lightbox-img">
</div>

<script>

function filterGallery(category){

let items = document.querySelectorAll(".gallery-item")

items.forEach(item => {

if(category === "all" || item.classList.contains(category)){
item.style.display = "block"
}
else{
item.style.display = "none"
}

})

}


function openImage(src){

document.getElementById("lightbox").style.display="flex"
document.getElementById("lightbox-img").src=src

}

function closeImage(){

document.getElementById("lightbox").style.display="none"

}

</script>

{% endblock %}
