{% extends "base.html" %}
{% block content %}

<section class="page-header">
    <h1>Gallery</h1>
    <p>Moments of growth, discipline, competition, and community.</p>
</section>


<section class="gallery-page">

    <div class="gallery-grid">

        <img src="/static/gallery/training1.jpg" onclick="openImage(this.src)">
        <img src="/static/gallery/training2.jpg" onclick="openImage(this.src)">
        <img src="/static/gallery/training3.jpg" onclick="openImage(this.src)">
        
        <img src="/static/gallery/game1.jpg" onclick="openImage(this.src)">
        <img src="/static/gallery/game2.jpg" onclick="openImage(this.src)">
        <img src="/static/gallery/game3.jpg" onclick="openImage(this.src)">

        <img src="/static/gallery/camp1" onclick="openImage(this.src)">
        <img src="/static/gallery/camp2.jpg" onclick="openImage(this.src)">
        <img src="/static/gallery/camp3.jpg" onclick="openImage(this.src)">

        <img src="/static/gallery/outreach1.jpg" onclick="openImage(this.src)">
        <img src="/static/gallery/outreach2.jpg" onclick="openImage(this.src)">
        <img src="/static/gallery/outreach3.jpg" onclick="openImage(this.src)">

    </div>

</section>
<div id="lightbox" onclick="closeImage()">
    <img id="lightbox-img">
</div>

<script>

function openImage(src){
    document.getElementById("lightbox").style.display="flex"
    document.getElementById("lightbox-img").src=src
}

function closeImage(){
    document.getElementById("lightbox").style.display="none"
}

</script>
{% endblock %}
